<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Cha Ching</title>
    <link rel="stylesheet" type="text/css" href="/uikit/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/uikit/css/components/slideshow.min.css" />
     <link rel="stylesheet" type="text/css" href="/style.css" />
     <script src="/uikit/js/uikit.min.js"></script>
    <script src="/uikit/js/components/slideshow.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/firebase/firebase.js"></script>
    <script src="/angularfire/dist/angularfire.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
</head>
<body ng-app="PriceTab">
    <navbar></navbar>
    <div ui-view></div>
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/main.js"></script>
</body>
</html>