<form ng-submit='addLink(link, alert)'>
    <input type='text' placeholder='Add a Link' ng-model='link'>
    <div class='checkbox'>
		<label>
			<input type="checkbox" ng-model='alert.supply'>
	    	Alert me when it is there is supply
	  	</label>
  	</div>
  	<div class='checkbox'>
	  	<label>
			<input type="checkbox" ng-model='alert.price'>
	    	Alert me when price reaches a certain level
	  	</label>
	</div>
	  	<label ng-show='alert.price'>
	  		Alert me when price reaches below this level:
			<input type="float" min='0' ng-model='alert.priceThreshold'>
	  	</label>
	</div>
	<div>
    	<button class='btn btn-primary'>Track this Item</button>
    </div>
</form>
<pre>{{alert}}</pre>
<pre>{{results | json}}</pre>
<pre>{{syncObject | json}}</pre>