<div class='uk-height-1-1'>
    <div class='uk-vertical-align-middle uk-height-1-2'>
        <form  class='uk-vertical-align-middle' id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">
            <div class='uk-align-center uk-width-medium-2-3 uk-container-center'>
                <label for="email">Email address</label>
                <input type="text" ng-model="login.email" class="uk-form-large" id="email" placeholder="Enter email">
            </div>
            <div class='uk-align-center uk-width-medium-2-3 uk-container-center'>
                <label for="login-password">Password</label>
                <input type="password" ng-model="login.password" class="uk-form-large" id="login-password" placeholder="Password">
            </div>
                <button type="submit" class="uk-button-large uk-button-success uk-align-center">Submit</button>
        </form>
    </div>
</div>